<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/css/experience.html">Experience</a></li>
				<li><a href="/cv/CV_git.pdf">CV</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lyuhe@msu.edu">email</a></li>
	        		<li><a href="https://github.com/lyuhe95">github.com/lyuhe95</a></li>
				</ul>
			</footer>
		</body>
	</html>
